* {
    font-family: "Gill Sans", sans-serif;
    color: #9966CC;
}


body{
    margin: 30px 50px;
    background-image: url(../media/background2.jpg);
    background-repeat: repeat;
}
h1{
    color: #ccccff;
}
header, .form{
    margin: auto;
    width: 400px;
    padding: 25px;
    text-align: center;
}
.form{
    background-color: white;
    border-radius: 10px;
    color: black;
    margin: auto;
}
input{
    position: inherit;
    line-height: 2;
    width: 200px;
    height: 15px;
    padding: 20px;
    margin: 10px;
    border-radius: 50px;
    font-size: x-large;
}
button{
    width: 100px;
    font-size: 20px;
    padding: 15px;
    margin: 5px 10px;
    border-radius: 30px;
    background-color: #9966CC;
    color: white;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
button:hover{
    background-color: #ccccff;
}

dialog{
    width: 600px;
    border-radius: 10px;
}